/*start main rulez*/

.container {
  width: 1170px;
  margin: auto;
}
/*End main rulez*/

/*Start header */
.header .slider {
  height: 500px;
  background-image: url(imags/photo8.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header .slider .intro {
  text-align: center;
  padding-top: 200px;
}
.header .slider .intro h2 {
  color: white;
  margin: 0 auto;
  font-size: 50px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  padding: 5px 0;
}
.header .slider .intro button {
  color: white;
  background: none;
  margin-top: 20px;
  font-size: 20px;
  border: 2px solid #fff;
  font-weight: bold;
  padding: 10px 20px;
}
.header .navabar {
  background-color: rgb(49, 70, 36);
  color: wheat;
  overflow: hidden;
  font-size: 18px;
}
.header .navabar h2 {
  float: left;
  color: rgb(211, 37, 118);
}
.header .navabar h2 span {
  color: rgb(196, 176, 196);
}
.header .navabar ul {
  list-style: none;
  padding-left: 0;
  float: right;
}

.header .navabar ul li {
  float: left;
  padding: 10px;
}
.header .navabar ul li a {
  color: #fff;
  text-decoration: none;
}
.header .navabar ul li.active a,
.header .navabar ul li a:hover {
  color: rgb(31, 129, 22);
}
/*End header */
/*Start features*/
.features {
  padding-top: 50px;
  padding-bottom: 70px;
  overflow: hidden;
}
.features .feat {
  float: left;
  width: 33.3333%;
  height: 150px;
}
.features .feat h2 {
  color: rgb(27, 70, 50);
  font-size: 30px;
}
.features .feat p {
  color: rgb(116, 114, 114);
  line-height: 1.7;
  padding: 0 50px 0 0;
}
/*End features*/
/* Start about me */
.aboutme {
  background-color: rgb(241, 248, 244);
  overflow: hidden;
  margin-bottom: 10px;
  height: 300px;
}
.aboutme .image {
  float: left;
  width: 40%;
}
.aboutme .image img {
  width: 100%;
  height: 100%;
}
.aboutme .info {
  float: left;
  width: 60%;
}
.aboutme .info h2 {
  margin: 10px 0 10px 40px;
  color: rgb(7, 75, 38);
}
.aboutme .info > p {
  margin: 10px 10px 0 40px;
}
.aboutme .info p {
  color: rgb(110, 133, 110);
}
.aboutme .info .hobby {
  overflow: hidden;
  margin: -5px 30px 10px 40px;
}
.aboutme .info .hobby p {
  margin: -6px 10px 20px 0px;
}
.aboutme .info .hobby h3 {
  color: rgb(7, 75, 38);
  margin-bottom: 10px;
}
.aboutme .info .hobby .content {
  float: left;
  width: 50%;
  height: 80px;
  overflow: hidden;
}
.aboutme .info .hobby .content .icon {
  float: left;
  width: 8%;
  margin-right: 3%;
}
.aboutme .info .hobby .content .icon img {
  max-width: 100%;
  margin: 20px 30px 0 0;
}
.aboutme .info .hobby .content .text {
  float: left;
  width: 89%;
}
/* End about me */
/*start my skills*/

.myskills .skills,
.myskills .progress {
  width: 50%;
  float: left;
  padding-bottom: 40px;
}
.myskills .skills h2 {
  margin: 40px 0 10px 0;
  color: rgb(7, 75, 38);
}
.myskills .skills p {
  color: rgb(110, 133, 110);
  margin: 20px 20px 10px 0;
  line-height: 1.5;
}
.myskills .skills button {
  background: none;
  border: 3px solid rgb(23, 141, 37);
  padding: 5px 20px;
  color: rgb(10, 112, 49);
  font-weight: bold;
  margin-top: 30px;
}
.myskills .progress .techniq {
  margin-left: 40px;
  margin: 40px 10px -20px 40px;
}
.myskills .progress .techniq h3 {
  color: rgb(7, 75, 38);
}
.myskills .progress .techniq div {
  background-color: rgb(229, 233, 229);
  height: 22px;
  width: 70%;
  margin-top: -10px;
}
.myskills .progress .techniq div span {
  background-color: rgb(12, 148, 53);
  display: block;
  height: 23px;
  line-height: 22px;
  text-align: right;
  color: #fff;
}
.fix {
  clear: both;
}

/*end my skills*/
/*Start hello*/
.hello {
  text-align: center;
  background-color: rgb(234, 240, 236);
  padding-top: 30px;
  padding-bottom: 40px;
}
.hello h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(7, 75, 38);
}
.hello p {
  color: rgb(110, 133, 110);
  line-height: 1.5;
}
.hello button {
  background: none;
  border: 3px solid rgb(23, 141, 37);
  padding: 5px 20px;
  color: rgb(10, 112, 49);
  font-weight: bold;
  margin-top: 10px;
}

/*End hello*/
/*Start education*/
.myflowers .flower h2,
.myflowers .work h2 {
  font-weight: bold;
  color: rgb(7, 75, 38);
}
.myflowers .flower p,
.myflowers .work p {
  color: rgb(110, 133, 110);
  line-height: 1.6;
}
.myflowers .flower {
  width: 47%;
  float: left;
  padding-top: 20px;
  margin-right: 3%;
}
.myflowers hr {
  background-color: rgb(185, 192, 188);
  height: 2px;
  border: 0;
}
.myflowers .main {
  width: 50%;
  float: left;
}
.myflowers .main {
  padding-top: 40px;
}
.myflowers .main h3 {
  font-weight: bold;
  color: rgb(7, 75, 38);
  margin-bottom: 5px;
}
.myflowers .main span {
  color: rgb(110, 133, 110);
  margin-bottom: 8px;
}
.myflowers .main button {
  background-color: rgb(31, 180, 51);
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid rgb(31, 180, 51);
  color: white;
  line-height: 20px;
}
.myflowers .main p {
  color: rgb(110, 133, 110);
  line-height: 1.6;
}

.myflowers .work,
.myflowers .main {
  width: 50%;
  float: left;
  padding-top: 20px;
}
.myflowers .main {
  padding-top: 40px;
}

/*End education*/
/*start test*/
.test {
  text-align: center;
  background-color: rgb(231, 240, 233);
  padding-top: 40px;
  padding-bottom: 30px;
}
.test q {
  color: rgb(110, 133, 110);
  line-height: 1.6;
  font-size: 18px;
  font-style: italic;
}
.test h3 {
  font-weight: bold;
  color: rgb(7, 75, 38);
}
.test ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.test ul li {
  height: 9px;
  width: 9px;
  border: 2px solid rgb(21, 148, 21);
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}
.test ul li.active,
.test ul li:hover {
  background-color: rgb(21, 148, 21);
}
/*End test*/
/*Start port*/
.port {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.port h2 {
  font-weight: bold;
  color: rgb(7, 75, 38);
  font-size: 25px;
}
.port p {
  color: rgb(110, 133, 110);
  font-size: 20px;
}
.port .ourwork {
  overflow: hidden;
}
.port .ourwork > div {
  width: 33.3333%;
  padding-top: 30px;
  float: left;
}

.port .ourwork > div img {
  width: 350px;
  height: 250px;
  background-color: #fff;
  border: 3px solid #ccc;
}
/*End port*/
/*start contact me*/
.contact {
  background-color: rgb(231, 238, 231);
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 40px;
}

.contact h2 {
  color: rgb(52, 97, 60);
}

.contact p {
  color: rgb(110, 133, 110);
  line-height: 1.5;
}

.contact .info {
  width: 50%;
  margin-right: 5%;
  float: left;
}
.contact .form {
  width: 45%;
  float: left;
  padding-top: 20px;
}
.contact .form label {
  display: block;
  color: rgb(52, 97, 60);
  margin-bottom: 10px;
}
.contact .form input[type="text"] {
  background-color: rgb(192, 219, 204);
  color: rgb(30, 71, 37);
  padding: 5px;
  border: 0;
  width: 60%;
  margin-bottom: 10px;
}
.contact .form textarea {
  background-color: rgb(192, 219, 204);
  color: rgb(30, 71, 37);
  padding: 5px;
  border: 0;
  width: 60%;
  height: 100px;
}
.contact .form input[type="submit"] {
  background-color: rgb(65, 126, 75);
  color: rgb(236, 245, 236);
  padding: 10px 20px;
  border: 0;
  margin-top: 10px;
}
/*End contact me*/
/*start footer*/
.footer {
  text-align: center;
  background-color: rgb(45, 65, 33);
  color: rgb(229, 245, 233);
  padding: 15px 5px 1px 0;
}
.footer ul {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
}
.footer ul li {
  display: inline-block;
}
.footer ul li img {
  width: 22px;
  height: 22px;
}

/*End footer*/
